AI_GATEWAY_API_KEY=''
VITE_NEON_AUTH_URL=''
NEON_PROJECT_ID=''
POSTGRES_URL_NON_POOLING=''
PGPASSWORD=''
DATABASE_URL=''
POSTGRES_HOST=''
POSTGRES_PRISMA_URL=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_DATABASE='neondb'
NEON_AUTH_BASE_URL=''
PGHOST_UNPOOLED=''
POSTGRES_URL=''
PGDATABASE='neondb'
PGHOST=''
DATABASE_URL_UNPOOLED=''
POSTGRES_URL_NO_SSL=''
BETTER_AUTH_SECRET=''
VERCEL_WEB_ANALYTICS_ID=''
VERCEL_OIDC_TOKEN=''
NEXT_PUBLIC_DEV_SUPABASE_REDIRECT_URL=''
V0_RUNTIME_URL=''
V0_CALLBACK_URL=''