DATABASE_URL=''
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL='http://localhost:3000'

TELEGRAM_BOT_TOKEN=''
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=''
REMINDER_CRON_SECRET=''
CRON_SECRET=''
REMINDER_TIME_ZONE='Asia/Phnom_Penh'
